<div class="players-form">
    <form
      [formGroup]="playersForm"
      method="POST"
    >
      <label>Player 1:</label>
      <input
        class="field"
        type="text"
        formControlName="player1"
        placeholder="Name"
      />
      <br />
      <label>Player 2:</label>
      <input
        class="field"
        type="text"
        formControlName="player2"
        placeholder="Name"
      />
      <br />
      <div *ngFor="let player of players().controls; let i=index" [formGroupName]="i">
        <label>Player {{i}}:</label>
        <input
         class="field"
         type="text"
         formControlName="players">

      </div>

    </form>
    <button (click)="addPlayer()" class="button">Add Player</button>
    <button (click)="onSubmit(playersForm.value)" class="button">Submit</button>
  </div>
  