<div class="container">
  <h1>Welcome to Deathbox!</h1>
  <div class="players-form">
    <form [formGroup]="playersForm" method="POST">
      <div class="left-column">
        <div class="group">
          <label>Player 1:</label>
          <br>
          <input class="field" type="text" formControlName="player1" placeholder="Name" />
        </div>
        <div class="group">
          <label>Player 2:</label>
          <br>
          <input class="field" type="text" formControlName="player2" placeholder="Name" />
        </div>
        <div class="group">
          <label>Player 3:</label>
          <br>
          <input class="field" type="text" formControlName="player3" placeholder="Name" />
        </div>
        <div class="group">
          <label>Player 4:</label>
          <br>
          <input class="field" type="text" formControlName="player4" placeholder="Name" />
        </div>
      </div>
      <div class="right-column">
        <div class="group">
          <label>Player 5:</label>
          <br>
          <input class="field" type="text" formControlName="player5" placeholder="Name" />
        </div>
        <div class="group">
          <label>Player 6:</label>
          <br>
          <input class="field" type="text" formControlName="player6" placeholder="Name" />
        </div>
        <div class="group">
          <label>Player 7:</label>
          <br>
          <input class="field" type="text" formControlName="player7" placeholder="Name" />
        </div>
        <div class="group">
          <label>Player 8:</label>
          <br>
          <input class="field" type="text" formControlName="player8" placeholder="Name" />
        </div>
      </div>
    </form>
  </div>
    <button (click)="onSubmit(playersForm.value)" type="submit" class="button">Submit</button>
</div>