<div class="container">
  <h1>Welcome to Deathbox!</h1>
  <div class="players-form">
    <form [formGroup]="playersForm" method="POST">
      <div class="group">
        <label>Player 1:</label>
        <br>
        <input class="field" type="text" formControlName="player1" placeholder="Name" />
      </div>
      <div class="group">
        <label>Player 2:</label>
        <br>
        <input class="field" type="text" formControlName="player2" placeholder="Name" />
      </div>
      <div class="group">
        <label>Player 3:</label>
        <br>
        <input class="field" type="text" formControlName="player3" placeholder="Name" />
      </div>
      <div class="group">
        <label>Player 4:</label>
        <br>
        <input class="field" type="text" formControlName="player4" placeholder="Name" />
      </div>
      <div class="group">
        <label>Player 5:</label>
        <br>
        <input class="field" type="text" formControlName="player5" placeholder="Name" />
      </div>
      <div class="group">
        <label>Player 6:</label>
        <br>
        <input class="field" type="text" formControlName="player6" placeholder="Name" />
      </div>
      <div class="group">
        <label>Player 7:</label>
        <br>
        <input class="field" type="text" formControlName="player7" placeholder="Name" />
      </div>
      <div class="group">
        <label>Player 8:</label>
        <br>
        <input class="field" type="text" formControlName="player8" placeholder="Name" />
      </div>
    </form>
    <!-- <div *ngFor="let player of players().controls; let i=index;">
        <label>Player {{i + 2}}:</label>
        <input
         class="field"
         type="text"
         formControlName="players">

      </div>

    <button (click)="addPlayer()" class="button">Add Player</button> -->
    <button (click)="onSubmit(playersForm.value)" class="button" routerLink="/play">Submit</button>
  </div>
</div>