.container {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.help {
    position: absolute;
    top: 5px;
    right: 5px;
}

button.primary {
    width: 200px;
    height: 50px;
    animation: wiggle 3s linear 5s infinite;
}

form#join {
  padding: 20px;
}

.popup {
  position: relative;
}

.popup-text {
  position: absolute;
  width: 150px;
  font-size: .5rem;
  margin: 0px;
}

.invite:hover {
  cursor: pointer;
}

.invite-container {
  width: 150px;
  height: 50px;
  text-align: center;
}

label {
  display: flex;
  padding-left: 10px;
}

.logo-container {
  text-align: center;
}

div.players.scroll {
  height: 250px;
  overflow: scroll;
}

.logo {
  width: 200px;
  margin: auto auto 20px;
  display: block;
}

.lobby-content {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  p {
    font-size: 1.75rem;
  }

  .players {
    margin: 10px;
  }

  .list-flex {
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
  }

  img.avatar {
    width: 25%;
    margin-right: 10px;
  }

.gameId {
    text-align: center;
    font-size: 5rem;

}