<div class="container">
  <div class="logo-container">
    <img class="logo" src="../../assets/logo-text.png" alt="deathbox-logo" />
  </div>
  <div class="gameId">
    <h1 style="margin-top: -40px; margin-bottom: 0px;" class="gameId">{{ this.id }}</h1>
  </div>
  <div class="lobby-content">
    <div *ngIf="!this.isHost">
      <h3>Waiting on host to start the game...</h3>
    </div>
    <div class="players" [ngClass]="this.isHost ? 'scroll' : ''">
      <div class="list-flex" *ngFor="let player of playerList">
        <img class="bullet" src="../../assets/drink.png" alt="player-icon"/>
        <p>{{ player }}</p>
      </div>
    </div>
    <div *ngIf="this.isHost">
      <button gaEvent gaAction="start_game" (click)="startGame()">Everybody's Ready</button>
    </div>
  </div>
</div>