<div class="nav-container">
  <div class="nav-items">
    <div class="player-container">
      <div class="player-img">
        <img src="{{
                        'https://robohash.org/' + gameId + this.player + '?set=set5'
                      }}">
      </div>
      <div class="player-text">
        <div class="nav-flex">
          <h3>{{ this.currentPlayer }}</h3>
          @for (i of this.correctGuesses; track $index) {
          <span class="material-symbols-outlined">
            check_small
          </span>
          }
        </div>
        <h3 style="font-size: 0.5em;">pick any
          card</h3>
      </div>
    </div>
    <span class="material-symbols-outlined help" (click)="toggleInfo()">
      help
    </span>
  </div>
</div>