h3 {
    margin: 0px;
}

.nav-container {
    height: 75px;
    z-index: 999999;
    padding-left: 10px;
}

img {
    width: 75px;
    margin-top: 20px;
}

.nav-items {
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
}

.nav-item {
    width: 200px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.nav-item:hover {
    cursor: pointer;
    color: #4d4d4d;
}

.playersView {
    position: absolute;
    background-color: white;
    top: 50px;
    right: 0;
    z-index: 999999;
}