<div class="turn-hud">
  <div class="player-block">
    <div class="player-img">
      <img
        [src]="'https://robohash.org/' + gameId + player + '?set=set5'"
        alt="Player avatar"
      />
    </div>

    <div class="player-info">
      <div class="player-row">
        <h3 class="player-name">{{ player }}</h3>

        <div class="checks">
          @for (i of this.correctGuesses; track $index) {
            <span class="material-symbols-outlined check-icon">
              check_small
            </span>
          }
        </div>
      </div>

      <div class="turn-state">
        @if (currentPlayer === player) {
          <span class="turn-chip turn-chip--you">Your turn</span>
        } @else {
          <span class="turn-chip turn-chip--waiting">Waiting</span>
        }
      </div>
    </div>
  </div>
</div>