h3, h4 {
    margin: 0px;
}

.nav-container {
    height: 65px;
    z-index: 999999;
    background-color: #5E3A87;
}

.nav-items {
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.help {
    margin: 5px 5px 5px auto;
}

.nav-flex {
    display: flex;
    align-items: flex-end;
}

img {
    width: 55px;
}

.player-container {
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.player-img {
    width: 55px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 2px;
}

.checks-div {
    display: flex;
    width: 100px;
}
  
.checks {
    width: 30px;
    margin-left: 5px;
}