<div class="nav-container">
    <div class="nav-items">
        <div class="back-container">
            <img *ngIf="this.renderBack" class="back-button" src="../../assets/back.png" (click)="goBack()" />
        </div>
        <div class="player-container">
            <div class="host-view">
                <div>
                    <img class="player-img" src="../../assets/drink.png">
                </div>
                <div class="player-text">
                    <h3>{{ this.currentPlayer }}</h3>
                    <!-- <h3 *ngIf="this.isHost == true; else elseBlock" style="font-size: 0.5em;">pick any
                        card</h3>
                    <ng-template #elseBlock>
                        <h3 style="font-size: 0.15em;">get ready to count</h3>
                    </ng-template> -->
                </div>
            </div>
            <div class="checks-div">
                <div *ngIf="checks > 0">
                    <img class="checks" src="../../assets/check.png">
                    <img *ngIf="checks > 1" class="checks" src="../../assets/check.png">
                </div>
            </div>
        </div>
        <div class="logo">
            <img src="../../assets/logo.png" />
        </div>
        <!-- <div class="game">
            <h2>{{ gameId }}</h2>
        </div> -->
        <!-- <div class="nav-item">
            <h3 (click)="scoresClick()">Scores</h3>
        </div> -->
    </div>
</div>
<!-- <app-players class="playersView" *ngIf="this.playersView"></app-players> -->