<div class="container">
    <h1>Death Box</h1>
    <div class="logoContainer">
      <img class="logo" src="../../assets/DeathBox.png">
  </div>
  <!-- <img class="info" src="./assets/information.png" (click)="infoClick()" /> -->
  <div class="buttonContainer">
    <div class="placeholder" *ngIf="!this.joinClicked && this.isMobile"></div>
    <button *ngIf="this.joinClicked && this.isMobile" class="playButton" (click)="joinGame(joinGameForm.value)" type="submit">
      Play
    </button>
    <button *ngIf="!this.isMobile" (click)="createGame()" type="submit">Create game</button>
    <button (click)="joinTrigger()">Join game</button>
  </div>
  <div class="form" *ngIf="this.joinClicked">
    <form [formGroup]="joinGameForm" id="join" method="POST">
      <input id="gameId" formControlName="id" required autocomplete="off" placeholder="Game ID" />
      <input id="name" formControlName="name" required autocomplete="off" placeholder="Name" />
      <button *ngIf="!this.isMobile" class="playButton" (click)="joinGame(joinGameForm.value)" type="submit">
        Play
      </button>
    </form>
  </div>
</div>