@use '../deathbox-theme.scss' as db;

.container {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  animation: logo 0.5s;
}

.help {
  color: db.$toxic-mint;
  position: absolute;
  top: 30px;
  right: 30px;
}

.input-container {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

label {
  color: db.$neon-skull-green;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-container {
  height: 350px;
}

.logo {
  margin: 0 auto;
  display: inline-block;
  max-width: 300px;
}

.dumb {
  position: absolute;
  left: -9999px;
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}

@keyframes logo {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 400px) {
  .container { height: 90vh; }
  .logo { max-width: 300px; }
  #join {
    width: 360px;
    margin: 0 auto;
  }
}
