.container {
    /* max-width: 850px; */
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    text-align: center;
}

.topContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: #e5989b;
}

h1 {
    color: #FF6666;
    text-align: left;
    font-size: 50px;
    margin: 0;
    margin-left: 20px;
}

.info {
    margin-top: 0;
}

h3:hover {
    cursor: pointer;
    color: #86B77A;
}

button {
    width: 200px;
    height: 80px;
    font-size: 1.25rem;
}

.placeholder {
    width: 170px;
    height: 120px;
    margin: 10px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    display: block;
}

.buttonContainer {
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info:hover {
    cursor: pointer;
}

mat-form-field.mat-form-field {
    margin-right: 10px;
}

mat-label.mat-label {
    border: 1px solid red;
}

#join {
    height: 200px;
}

@media (max-width: 400px) {
    .container {
        height: 90vh;
    }
    h1 {
        font-size: 40px;
        margin-left: 0px;
        text-align: center;
    }
    .buttonContainer {
        display: flex;
        justify-content: space-around;
        height: 100px;
    }
    .placeholder {
        width: 170px;
        height: 100px;
        margin: 5px;
    }
    button {
        width: 170px;
        margin: 5px;
        height: 80px;
    }
    .logo {
        max-width: 380px;
        margin-top: -30px;
    }
    .form {
        margin-top: 20px;
    }

}