.container {
    /* max-width: 850px; */
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    text-align: center;
    animation-name: logo;
    animation-duration: 1s;
}

a {
    color: #e5989b;
}

.content {
    margin-top: -75px;
}

.input-container {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

label {
    font-size: 1.5rem;
    text-align: left;
}


h1 {
    color: #FF6666;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.info {
    margin-top: 0;
}

h3:hover {
    cursor: pointer;
    color: #86B77A;
}

button {
    width: 80vw;
    height: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}

.placeholder {
    width: 170px;
    height: 120px;
    margin: 10px;
}

button.createGameButton, button.playButton {
    width: 100px;
    background-color: #6A985C;
}

button.createGameButton:hover, button.playButton:hover {
    color: #6A985C;
    background-color: #fff;
    border: 1px solid #6A985C
}

.logo-container {
    margin-top: 100px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    /* animation-name: logo;
    animation-duration: 1s; */
}

@keyframes logo {
    from {opacity: 0;}
    to {opacity: 1;}
}

.button-container {
    margin-top: 100px;
}

.info:hover {
    cursor: pointer;
}

mat-form-field.mat-form-field {
    margin-right: 10px;
}

mat-label.mat-label {
    border: 1px solid red;
}

.form {
    animation-name: reveal-form;
    animation-duration: .5s;
}

.enabled {
    display: block;
}

.disabled {
    display: none;
}

@keyframes reveal-form {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (max-width: 1200px) {
    h1 {
        margin: 0;
    }
}

@media (max-width: 400px) {
    .container {
        height: 90vh;
    }
    h1 {
        font-size: 40px;
        margin-left: 0px;
        text-align: center;
    }
    .placeholder {
        width: 170px;
        height: 100px;
        margin: 5px;
    }
    .logo {
        max-width: 300px;
    }
    .form {
        margin-top: 20px;
    }
    #join {
        width: 360px;
        margin-right: auto;
        margin-left: auto;
    }

}