.container {
    max-width: 850px; 
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

a {
    color: #e5989b;
}

h1 {
    color: #e5989b;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 75px;
}

img {
    margin-top: -50px;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.logoContainer {
    height: 300px;
    overflow: hidden;
}

hr {
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

#join {
    width: 500px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #6d6875;
    height: 50vh;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

mat-form-field.mat-form-field {
    margin-right: 10px;
}

mat-label.mat-label {
    border: 1px solid red;
}

@media (max-width: 400px) {
    h1 {
        font-size: 55px;
    }
    .logo {
        margin: 0;
        margin-bottom: 10px;
        /* width: 300px; */
        /* height: 300px; */
    }
    input {
        max-width: 100px;
        padding: 0;
    }
    button {
        width: 75px;
        height: 30px;
        margin-top: 10px;
        font-size: 10px;
        margin: 0;
    }
    form {
        padding-left: 20px;
    }
    #create, #join {
        max-width: 350px;
        padding: 10px;
    }
    mat-form-field.mat-form-field {
        width: 150px;
    }
}