body {
    background-image: url("../assets/green-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

img {
    margin-left: auto;
    margin-right: auto;
}
input {
    margin: 5px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

::placeholder {
    padding-left: 5px;
}

button {
    padding: 2px;
    height: 35px;
    width: 100px;
    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background-color: #7ed957;
    border: 2px solid #a134f6;
    border-radius: 10px;
}

button:hover {
    color: white;
    background-color: #a134f6;
    border: 2px solid #7ed957;
}

#gameLobby {
    margin-left: 100px;
}

.first-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.second-container {
    margin-top: -100px;
    border-radius: 10px;
    background-color: white;
    padding-top: 50px;
    height: 350px;
    width: 700px;
}

.forms {
    margin-left: 100px;
    margin-right: auto;
    height: auto;
}

#create {
    margin-bottom: 30px;
}