<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock" *ngIf="this.loggedIn == false">
        <h3>Please log in or sign up to create a game</h3>
        <div class="login">
          <input type="text" placeholder="Email" #userName required />
          <input type="password" placeholder="Password" #userPassword required />
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <button (click)="authService.SignIn(userName.value, userPassword.value)">Log In</button>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
        <span routerLink="/sign-up">
          Sign Up</span>
      </div>
    </div>
    <div class="createGame" *ngIf="this.loggedIn == true">
      <h3>Thanks for joining!</h3>
      <button (click)="createGame()" type="submit" class="button">
        Create game
      </button>
    </div>
  </div>