body {
  display: flex;
  justify-content: center;
  margin: auto;
}

.nav-container {
  height: 50px;
  background-color: #6a985c;
  z-index: 999999;
}

.nav-items {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.nav-item {
  width: 200px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.nav-item:hover {
  cursor: pointer;
  color: #4d4d4d;
}

.game {
  display: flex;
  /* max-width: 80vw; */
  min-width: 700px;
  min-height: 80vh;
  /* height: 90vh; */
  /* padding-top: 10px; */
  /* padding-bottom: 20px; */
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  z-index: 1;
}

 .card-container {
  margin-top: 0.5rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.mobile-hl {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #86b77a;
  color: #4d4d4d;
  /* border-left: 3px solid #86b77a;
  border-top: 3px solid #86b77a;
  border-bottom: 3px solid #6a985c; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 35vw;
  height: 100%;
  /* overflow: hidden; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* .grid-item {
  width: 100%;
  height: auto;
} */

.enabled {
  opacity: 1;
  display: block;
}

.disabled {
  opacity: 0;
  display: none;
}

.info {
  position: absolute;
  top: 10px;
  right: 25px;
}

.info:hover {
  cursor: pointer;
}

.toggle-container {
  max-width: 80vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

.count {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -1%);
  z-index: 999;
}

/*
.card-container {
    max-width: 750px;
} */

.container {
    /* max-width: 1200px; */
    /* width: 50vw;
    display: flex;
    justify-content: space-between; */
    /* margin-top: 20px; */
    /* padding: 10px; */
    /* margin: auto; */
}
/* 
.counterContainer {
  position: absolute;
  bottom: 20px;
} */

.inner {
  width: 100%;
  height: auto;
}

.right {
  width: 700px;
  align-self: baseline;
  justify-content: flex-end;
  /* margin-left: auto;
  margin-right: auto; */
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #e5989b;
  border: 2px solid #6d6875;
  font-weight: 500;
}

.count-container {
  width: 365px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: buttonEnter 1s 2s forwards;
}

@keyframes buttonEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
    width: 365px;
    height: 500px;
    /* margin-left: 300px; */
    background-color: #4E4E4E;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }

  h1 {
    margin: 5px;
    font-size: 3rem;
  }

  h3 {
    margin: 0px;
    font-size: 1rem;
  }

  .button-img {
    width: 365px;
    margin-top: 20px;
  }

  .enabled {
    background-color: #FE6765ff;
  }

  .disabled {
    background-color: #4E4E4E;
  }

  .countdown {
    margin-top: 50px;
  }

@media (min-width: 900px) {
  .enabled:hover {
    cursor: pointer;
    color: #FE6765ff;
    background-color: #fff;
    border: 2px solid #FE6765ff;
  }
  .disabled:hover {
    cursor: default;
  }
}

@media (max-width: 1500px) {
  .right {
    max-width: 400px;
  }
}

@media (max-width: 1200px) {
  .right {
    max-width: 300px;
  }
}

@media (max-width: 860px) {
  .container {
    width: 200px;
    height: 500px;
  }
  /* .counterContainer {
    width: auto;
    
  } */
  .game {
    max-width: 500px;
    min-width: 200px;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
  }
  .right {
    max-width: 200px;
    margin: 0;
  }
  .card-container {
    max-width: 330px;
  }
  .info {
    top: 30px;
    right: 20px;
  }
}

@media (max-width: 500px) {
  .card-container {
    margin-left: auto;
    margin-right: auto;
  }

  .game {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* .counterContainer {
    display: block;
    margin-top: 20px;
  } */
}

