body {
  display: flex;
  justify-content: center;
  margin: auto;
}

.game {
  display: flex;
  /* max-width: 80vw; */
  min-width: 700px;
  height: 90vh;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

 .card-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  /* grid-template-rows: repeat(3, 35%); */
  /* border: 1px solid white; */
}

.grid-item {
  width: 100%;
  height: auto;
}

.info {
  position: absolute;
  top: 10px;
  right: 25px;
}

.info:hover {
  cursor: pointer;
}

/*
.card-container {
    max-width: 750px;
} */

.container, .counterContainer {
    /* max-width: 1200px; */
    width: 80vw;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    /* margin: auto; */
}

.inner {
  width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #e5989b;
  border: 2px solid #6d6875;
  font-weight: 500;
}

.right {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1500px) {
  .right {
    max-width: 400px;
  }
  /* .container {
    width: 400px;
    max-height: 700px;
  }
  .card-container {
    max-width: 400px;
  } */
}

@media (max-width: 860px) {
  .container {
    width: 200px;
    height: 500px;
  }
  .counterContainer {
    width: auto;
    
  }
  .game {
    max-width: 500px;
    min-width: 200px;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
  }
  .right {
    max-width: 200px;
    margin: 0;
  }
  .card-container {
    max-width: 330px;
  }
  .info {
    top: 30px;
    right: 20px;
  }
}

