body {
  display: flex;
  justify-content: center;
  margin: auto;
}

.game {
  display: flex;
  /* max-width: 80vw; */
  min-width: 700px;
  /* height: 90vh; */
  /* padding-top: 10px; */
  padding-bottom: 20px;
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  z-index: 1;
}

 .card-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.mobile-hl {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #86b77a;
  color: #4d4d4d;
  /* border-left: 3px solid #86b77a;
  border-top: 3px solid #86b77a;
  border-bottom: 3px solid #6a985c; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 35vw;
  height: 100%;
  /* overflow: hidden; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* .grid-item {
  width: 100%;
  height: auto;
} */

.enabled {
  opacity: 1;
  display: block;
}

.disabled {
  opacity: 0;
  display: none;
}

.info {
  position: absolute;
  top: 10px;
  right: 25px;
}

.info:hover {
  cursor: pointer;
}

/*
.card-container {
    max-width: 750px;
} */

.container {
    /* max-width: 1200px; */
    width: 50vw;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    /* margin: auto; */
}

.counterContainer {
  width: 100%;
  position: relative;
  bottom: 0px;
}

.inner {
  width: 100%;
  height: auto;
}

.right {
  width: 700px;
  align-self: baseline;
  justify-content: flex-end;
  /* margin-left: auto;
  margin-right: auto; */
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #e5989b;
  border: 2px solid #6d6875;
  font-weight: 500;
}

@media (max-width: 1500px) {
  .right {
    max-width: 400px;
  }
}

@media (max-width: 1200px) {
  .right {
    max-width: 300px;
  }
}

@media (max-width: 860px) {
  .container {
    width: 200px;
    height: 500px;
  }
  .counterContainer {
    width: auto;
    
  }
  .game {
    max-width: 500px;
    min-width: 200px;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
  }
  .right {
    max-width: 200px;
    margin: 0;
  }
  .card-container {
    max-width: 330px;
  }
  .info {
    top: 30px;
    right: 20px;
  }
}

@media (max-width: 500px) {
  .card-container {
    margin-left: auto;
    margin-right: auto;
  }

  .game {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .right {
    margin-left: auto;
    margin-right: auto;
  }
  .counterContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
  }
}

