<app-navbar [gameId]="id" [player]="currentPlayer" [correct]="turns"></app-navbar>
<div class="game">
  <div *ngIf="this.isHost == true && !this.isMobile" class="container">
    <div class="card-container">
      <ng-container *ngFor="let stack of stacks">
        <app-stack [cards]="stack" (clickedCardEmitter)="clickedCard($event)" (cardChoiceEmitter)="cardChoice($event)"
          (click)="chooseCard(stack)"></app-stack>
      </ng-container>
    </div>
  </div>
  <div class="right">
   <app-deck *ngIf="this.isHost == true" class="deckView" [text]="compareText" (endCompareEmitter)="handleCompareResults($event)" [clickData]="cardData" [uiCounter]="seconds"></app-deck>
   <div class="counterContainer">
    <app-count [counter]="currentCounter" (clickEmitter)="countClicked()"></app-count>
  </div>
  </div>
</div>