<div class="game">
  <div *ngIf="this.isHost == true" class="container">
    <div class="card-container">
      <ng-container *ngFor="let stack of stacks">
        <app-stack [cards]="stack" (clickedCardEmitter)="clickedCard($event)"
          (click)="chooseCard(stack)"></app-stack>
      </ng-container>
    </div>
  </div>
  <div *ngIf="this.isHost == false" class="counterContainer">
    <app-count [counter]="currentCounter"></app-count>
  </div>
  <div class="right">
  <app-players [turn]="turns" [seconds]="seconds" (curPlayer)="getCurPlayer($event)" (playerList)="getPlayerList($event)"></app-players>
  </div>
</div>
<img class="info" src="./assets/information.png" (click)="onClick()"/>