img {
  /* max-width: 20vw; */
  /* max-height: 20vh; */
  max-width: 200px;
  max-height: 280px;
  /* max-height: 28vw; */
  /* margin: 10px; */
  margin: 10px;
  border: none;
  border: 2px solid white;
  border-radius: 13px;
}
/* 
.selected {
      border: 2px solid red;
} */

img:hover {
  border: 2px solid gray;
  border-radius: 13px;
}

/* img.selected {
  border: 2px solid black;
  border-radius: 13px;
} */

.high-low {
  /* position: absolute; */
  /* top: 50%; */
  top: 0;
  left: 0;
  border: 1px solid red;
  width: 100px;
  height: 100px;
}
