img {
  /* max-width: 20vw; */
  /* max-height: 20vh; */
  max-width: 20vw;
  max-height: 28vh;
  /* max-height: 28vw; */
  /* margin: 10px; */
  border: 5px solid #fff;
  border-radius: 10px;
  /* animation: deal 2s; */
}

img.arrow {
  height: 50px;
  margin: 0;
  border: none;
}

@keyframes deal {
  from { transform : translateX(100%)}
    to   { transform : translateX(0%) }
}

h2 {
  margin: 0;
}

.stack {
  position: relative;
}

.stack:hover {
  cursor: pointer;
}

.overlay {
  width: 50px;
  /* font-size: 4rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
}

@keyframes view {
  from {opacity: 0;}
    to {opacity: 1;}
}

.img-disabled {
  opacity: 0.3;
}

.img-enabled {
  opacity: 1;
}

@keyframes imgView {
  from {opacity: 1;}
    to {opacity: .3;}
}

.enabled {
  opacity: 1;
}

.opaque {
  opacity: .2;
}

img.playing-card:hover {
  cursor: pointer;
  opacity: .3;
}

.disabled {
  opacity: 0;
  /* z-index: -1; */
}

.high-low {
  /* position: absolute; */
  /* top: 50%; */
  top: 0;
  left: 0;
  border: 1px solid red;
  width: 100px;
  height: 100px;
}

@media (max-width: 1200px) {
  img {
    /* max-width: 130px; */
  }
}

@media (max-width: 400px) {
  img {
      max-width: 100px;
      max-height: 150px;
      margin: 2.5px;
  }
}