<h1>How to play Death Box</h1>
<ul>
    <h2>Current Player</h2>
    <li>Choose any card</li>
    <li>Decide if the next card from the deck will be higher or lower</li>
    <li>If you're wrong, you must drink for the number of cards in the stack while your friends count.</li>
    <li>Continue until you've chosen correctly 3 times.</li>
    <h2>Everyone Else</h2>
    <li>Be ready to count using your mobile phone. When it's your turn to count, the button will appear on your screen. Quickly click to record your count or wait if you're feeling evil!</li>
</ul>