<div class="container">
  <!-- <h2 mat-dialog-title>Higher or Lower?</h2> -->
  <h2 mat-dialog-title>{{this.title}}</h2>
  <div mat-dialog-content>
    <!-- <app-deck [card]="newCard"></app-deck> -->
    <div class="stack">
      <img class="s" src="../../assets/cards/back2.png" />
    </div>
    <div class="card" [@cardFlip]="data.state" (@cardFlip.done)="flipEnd($event)">
      <div class="face back">
        <img class="back" src="../../assets/cards/back3.png" />
      </div>
      <div class="face front">
        <img class="fce" [src]="newCard.cardPath" />
      </div>
    </div>
  </div>
  <mat-dialog-actions align="center">
    <img class="arrow"
      mat-button
      src="../../assets/up-arrow.png"
      (click)="higher()"
    />
    <img class="arrow"
      mat-button
      src="../../assets/down-arrow.png"
      (click)="lower()"
    />
  </mat-dialog-actions>
</div>
