<div class="players">
  <div
    *ngFor="let player of players"
    [ngClass]="
      this.currentPlayer.name == player.name
        ? 'current-player'
        : 'players-containers'
    "
  >
    <p>{{ player.name }}</p>
    <p class="flex-item">{{ player.seconds }}</p>
    <!-- <th>Players</th>
            <th>Seconds</th> -->
    <!-- <tr *ngFor="let player of players" class="players-containers"> -->
    <!-- <tr *ngFor="let player of players" [ngClass]="this.currentPlayer.name == player.name ? 'current-player' : 'players-containers'">
            <td>{{ player.name }}</td>
            <td>{{ player.seconds }}</td>
        </tr> -->
  </div>
</div>
