h4, h3 {
    margin: 0px;
}

.player-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
}

.player-img {
    margin-right: 10px;
}