<!-- <div class="players">
  <div
    *ngFor="let player of players"
    [ngClass]="currentPlayer === player.name
        ? 'current-player'
        : 'players-containers'
    "
  >
    <p>{{ player.name }}</p>
    <p class="flex-item">{{ player.secondsDrank }}</p>
  </div>
</div> -->
<div class="player-container">
  <div class="player-img">
    <img style="width: 30px;" src="../../assets/drink.png">
  </div>
  <div class="player-text">
    <h4 style="color: darkgray;">Whose turn is it?</h4>
    <h3>{{ this.currentPlayer }}</h3>
  </div>
</div>
