.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid green; */
    justify-content: center;
  }

  h2 {
    font-size: 1.25rem;
  }

  .counting {
    display: flex;
  }

  .deckView {
    align-self: center;
  }

  .content {
    /* width: 100%; */
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }

  img#deck-card {
      width: 180px;
      position: absolute;
      right: 0px;
  }

  .scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    right: 0px;
    padding: 10px;
  }

  img#deck-card-bottom {
    z-index: -1;
    position: absolute;
    width: 180px;
    /* right: 50px; */
  }

  .card {
    /* width: 100%;
    height: 100%; */
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card__face {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card__face--front {
    /* border: 2px solid purple; */
  }
  
  .card__face--back {
    transform: rotateY( 180deg );
    /* transform: translateY(150px, 0); */
    max-width: 100px;
  }

  .card.is-flipped {
    /* transform: rotateY(180deg); */
  }
  