<div class="text-container">
  <h2>{{ this.title }}</h2>
  <div class="counting" @compareText *ngIf="this.wrongGuess == true">
    <h2>Wrong! Drink for </h2>
    <h2 class="counter">&nbsp;{{ this.uiCounter }}&nbsp;</h2>
    <h2>{{ this.secondText }}!</h2>
</div>
</div>
<div class="deck-container">
  <img id="deck-card-bottom" src="../../assets/cards/back.svg" />
  <div
    id="scene"
    class="scene card"
    [@cardFlip]="this.clickData ? 'flipped' : null"
      (@cardFlip.done)="this.flipEnd()"
  >
    <div class="card">
      <img
        id="deck-card"
        class="stack card__face card__face--front"
        src="../../assets/cards/back.svg"
      />
      <img
        id="deck-card"
        class="stack card__face card__face--back"
        src="{{ this.clickData.newCrd.cardPath }}"
      />
    </div>
  </div>
</div>
