/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
/* body { margin: 0; font-family: 'Inconsolata', monospace; background-color: #ffcdb2; color: #e5989b;} */
body { font-family: 'Inconsolata', monospace; background-color: gray; color: #e5989b;}

.card-container {
  max-width: 50vw;
  margin-left: 5%;
}

a {
  color: #e5989b;
}

h1 {
  color: #e5989b;
}

input {
  height: 30px;
  /* border-radius: 5px; */
  /* border: 0.5px solid gray; */
  border-bottom: 4px solid #ffcdb2;
  border-left: 3px solid #ffcdb2;
  /* border-bottom: 3px solid #ffcdb2; */
  /* border: none; */
  border-top: none;
  /* border-left: none; */
  border-right: none;
  margin-right: 10px;
  padding: 5px;
  background-color: gray;
}

::placeholder {
  color: #ffcdb2;
  /* font-weight: 500; */
  font-size: 16px;
  letter-spacing: 1px;
  font-style: bold;
}